{% extends "base.html" %}

{% block pagehead %}
  <title>pygigs.com</title>
  
{% endblock %}

{% block content %}
<section class="hero body is-fullheight">
  <div class="hero-body">
    <div class="container">
      <section class="section" style="background: white;">
        <div class="container ">
          <h1 class="title">Looking for Python Freelancers ?</h1>
          <h2 class="subtitle">
            Search no more, we've got you covered!
            <br><br>
            <a class="button is-success" href="list/">Go!</a>
          </h2>
        </div>
      </section><br>
      <section class="section" style="background: white;">
        <div class="container ">
          <h1 class="title">List Yourself, We Are On Github!</h1>
          <h2 class="subtitle">
            Community driven!
            <br><br>
            <a class="button is-success" href="register/">Register!</a>
          </h2>
        </div>
      </section><br>
      <section class="section" style="background: white;">
        <div class="container ">
          <h1 class="title">Edit Website Source</h1>
          <h2 class="subtitle">
            Edit source <a href="https://github.com/pygigs/pygigs/tree/master/res/templates">here</a>
            <br><br>
            <a class="button is-success" href="register/">Register!</a>
          </h2>
        </div>
      </section><br>
    </div>
  </div>
</section>
{% endblock %}