{% extends "base.html" %}

{% block pagehead %}
  <title>fr3</title>
  
{% endblock %}

{% block content %}
<section class="hero body is-fullheight">
  <div class="hero-body">
    <div class="container">
      <section class="section" style="background: white;">
        <div class="container ">
          <h1 class="title">Looking for Python Freelancers ?</h1>
          <h2 class="subtitle">
            Search no more, we've got you covered!
            <br><br>
            <a class="button is-success" href="list/">Go!</a>
            <a class="button is-success" href="register/">Register!</a>
          </h2>
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock %}