{% extends "base.html" %}

{% block pagehead %}
  <title>register | pygigs.com</title>
  
{% endblock %}

{% block content %}
<section class="hero body is-fullheight">
  <div class="hero-body">
    <div class="container">
      <section class="section" style="background: white;">
        <div class="container ">
        	Create a json file like <a href="https://github.com/pygigs/pygigs/blob/master/res/data/jdoe.json">this</a> in the data folder <a href="https://github.com/pygigs/pygigs/tree/master/res/data">here</a> and name it the same as your chosen username.<br>
          for profile picture choose one from <a href="https://github.com/pygigs/pygigs/tree/master/res/assets/profile">here</a>. If the word random is written, it will choose a random pic.
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock %}